{% extends "layout.html" %}
{% block content %}
    <div>
        <h1><span>アプリ名</span></h1>
        <h2>希望の曲を選択してください</h2>
        <br>
        <form action="/liric2" method="post">
            <select name="last_song_name">
                {% for song, url in songs.items() %}
                <option value="{{ url }}">{{ song }}</option>
                {% endfor %}
            </select>
            <p></p>
            <button type="submit" class="button">決定</button>
        </form>
    </div>

{% endblock %}